<div class="container bg-secondary">

    <form name="form" enctype="multipart/form-data" (ngSubmit)="f.form.valid && onSubmit(f,modal)" #f="ngForm" novalidate method="post">
        <div class="text-center p-4">
            <div class="d-flex justify-content-center">
                <div>
                    <img *ngIf="uploaded === false;" [src]="uploadedImageUrl" style="max-width: 300px;max-height: 300px;" alt="">
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <div class="custom-file" style="max-width: 50%;">
                <input type="file" id="customFile" accept="image/png,image/jpeg" (change)="onChange($event)">
                <label class="custom-file-label" for="customFile" id="customFileLabel">Selecionar Arquivo</label>
            </div>
        </div>
        <div class="m-3 text-center">
            <div class="text-danger" *ngIf="f.submitted && title.invalid">
                <div *ngIf="title.errors?.required">Título é obrigatório</div>
            </div>
            <div class="text-danger" *ngIf="f.submitted && description.invalid">
                <div *ngIf="description.errors?.required">Descrição é obrigatória</div>
            </div>
            <div class="text-danger" *ngIf="f.submitted && category.invalid">
                <div *ngIf="category.errors?.required">Categoria é obrigatória</div>
            </div>
        </div>

        <div class="text-center mt-2">
            <mat-form-field appearance="outline" style="min-width: 40%">
                <mat-label>Título</mat-label>
                <input name='title' id='title' [(ngModel)]="form.title" matInput placeholder="Digite o título da postagem" type="text" #title="ngModel" required>
            </mat-form-field>
            <span class="ml-3">
            <mat-form-field appearance="fill">
                <mat-label>Categoria</mat-label>
                <mat-select [(ngModel)]="form.category" name="category" (selectionChange)="eventSelection($event)" #category="ngModel" required>
                    <mat-option *ngFor="let category of categories" [value]="category">
                        {{category}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </span>
        </div>



        <div class="text-center border-bottom border-primary">
            <mat-form-field appearance="outline" style="min-width: 40%">
                <mat-label>Descrição</mat-label>
                <textarea matInput name='description' id='description' [(ngModel)]="form.description" placeholder="Digite a descrição da postagem" #description="ngModel" required></textarea>
            </mat-form-field>
        </div>
        <div class="row d-flex justify-content-center m-2">
            <h1>Modelagens</h1>
        </div>

        <div class="m-3 text-center">
            <div class="text-danger" *ngIf="f.submitted && modelagens.length == 0">
                <div>A postagem deve ter no mínimo 1 item.</div>
            </div>
        </div>

        <div class="form-group row m-3 text-left" *ngFor="let item of modelagens;  let i = index">

            <div class="col-2">
                <div class="text-danger position-absolute" *ngIf="f.submitted && modelagens[i].description.length == 0" style="bottom: 0;">
                    <div>Descrição do item {{i + 1}} não deve estar vazia</div>
                </div>
            </div>

            <div class="col-3 mt-4">
                <input type="file" id="moldeFile{{i}}" accept="image/png,image/jpeg,application/pdf" style="display: none;" (change)="onFileAdd($event,i)" required/>
                <label class="mt-2 custom-file-label" for="moldeFile{{i}}" id="moldeFileLabel{{i}}" style="height: 80%;">Selecionar Arquivo</label>
            </div>
            <div class="col-3">
                <label class="label-modal">Descrição</label>
                <input class="form-control" type="text" [(ngModel)]="item.description" name="itemDescription{{i}}" id="itemDescription{{i}}" #itemDescription{{i}}="ngModel" required/>
            </div>
            <div class="col-3">
                <label class="label-modal">Preço</label>
                <input class="form-control" currencyMask [(ngModel)]="item.price" name="price{{i}}" id="price{{i}}" [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" />

            </div>
            <button class="col-1" type="button" class="close" aria-label="Close" (click)="removerItem(i)">
                <span aria-hidden="true">&times;</span>
                </button>
        </div>
        <div class="row">
            <div class="col-7"></div>
            <div class="col-5">
                <div class="btn btn-primary" (click)="adicionarModelagem()">Adicionar modelagem</div>
            </div>
        </div>


        <div class="text-center p-3">
            <input class='btn btn-primary btn-lg' style="width: 30%;" type='submit' name='Postar' [disabled]="!isFileValid()" value='Postar Modelagem'><br>
        </div>
        <div style="height: 250px;">

        </div>
    </form>
</div>

<ng-template #modal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">
            Postagens
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
  
            <span aria-hidden="true">
                ×
            </span>
        </button>
    </div>
    <div class="modal-body d-flex justify-content-center">
        <h4>Post realizado com sucesso!</h4>
    </div>
    <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-danger" (click)="modal.dismiss('Cross click')">
            Cancelar
        </button>
        <button type="button" class="btn btn-success" (click)="modal.close('Save click')">
            OK
        </button>
    </div>
</ng-template>