<div class="container">
    <h1 class="text-center m-3">Portal Admin</h1>
    <div class="row justify-content-around border rounded" style="min-height: 600px;">
        <div class="col-2 border-right pt-4">
            <div class="btn text-center w-100" [routerLink]="['users']" routerLinkActive="active">Usuários</div>
            <div class="btn text-center w-100" [routerLink]="['category']" routerLinkActive="active">Categorias</div>
        </div>
        <div class="col-10">
            <router-outlet></router-outlet>

        </div>

    </div>

</div>