<div class="container">
    <div class="text-right m-4">
        <span class="btn btn-primary btn-lg" *ngIf="userFollows && !owner" (click)="followUser()">Seguindo</span>
        <span class="btn btn-primary btn-lg" *ngIf="userFollows === false && !owner" (click)="followUser()">Seguir</span>
    </div>
    <div class="d-flex justify-content-around">
        <div class="flex-shrink-1">
            <div class="text-center font-weight-bold">{{user.user}}</div>
            <img class="border border-primary rounded-circle" width="200px" [src]="user.profileImage" alt="">
        </div>
        <div class="border-bottom border-primary" style="width: 75%;">
            <div class="d-flex justify-content-between border-bottom border-primary">
                <div class="p-2">Publicações
                    <div class="text-center">{{postCount}}</div>
                </div>
                <div class="p-2">Seguidores
                    <div class="text-center">
                        {{followers}}
                    </div>
                </div>
                <div class="p-2">Seguindo
                    <div class="text-center">{{following}}</div>
                </div>
            </div>
            <div class="d-flex justify-content-between">

                <div class="text-center mt-3" *ngIf="canEditDesc === false" style="width: 700px;">{{user.description}}</div>
                <div class="text-center mt-3" *ngIf="canEditDesc" style="width: 700px;">
                    <textarea class="form-control" type="text" [(ngModel)]="user.description" width="100%"></textarea>
                </div>
                <div *ngIf="canEditDesc == false && owner"><i class="btn bi bi-pen-fill" (click)="canEditDesc = true"></i></div>
                <div *ngIf="canEditDesc"><i class="btn bi bi-save" (click)="saveEditDesc()"></i></div>

            </div>

        </div>


    </div>

    <div class="d-flex justify-content-end" *ngIf="owner">
        <div class="btn btn-primary btn-sm m-3" [routerLink]="['/new-post']">Adicionar postagem +</div>
    </div>

    <div *ngFor="let post of posts" class="border-bottom border-primary mt-5 mx-5">
        <div class="d-flex justify-content-around">
            <div class="btn flex-shrink-1 mb-3 btn" [routerLink]="['/posts/',post.id]"><img class="zoom-hover" [src]="post.postImage" width="300px" style="max-height: 300px;" alt=""></div>
            <div class="text-center row" style="width: 75%;">
                <div class="text-center col-9" style="font-size: x-large;"><b>{{post.title}}</b></div>
                <div class="text-center col-9">{{post.description}}</div>

            </div>
        </div>
        <div class="text-right mb-2">
            <img class="mr-2" width="30px" src="/assets/img/lock-fill.svg">
            <button class="btn btn-primary btn-sm" [routerLink]="['/posts/',post.id]">
                    <img class="" src="/assets/img/arrow-right.svg">
                </button>
        </div>
    </div>
</div>