<div class="d-flex justify-content-between m-2">
    <div></div>
    <div class="btn btn-success">+</div>
</div>

<table class="table table-striped table-light border border-10 border-secondary table-responsive w-100 d-block d-md-table">
    <thead>
        <th>#</th>
        <th>Nome</th>
        <th>Permissão</th>
        <th></th>
    </thead>
    <tbody>
        <tr *ngFor="let user of users;let i = index">
            <td class="align-middle">{{i+1}}</td>
            <td class="align-middle">{{user.user}}</td>
            <td class="align-middle"><span *ngFor="let permission of user.permissions">{{permission}}<br></span> </td>
            <td class="align-middle">
                <span [routerLink]="['./edit/',user.id]" class="btn bi bi-pencil rounded-circle">              
            </span>
            </td>
        </tr>
    </tbody>
</table>