<div class="container bg-secondary">
    <div style="padding-top: 200px;">
        <div class="brand-font text-center mb-5" style="font-size: 150px;">
            Molb
        </div>
        <div class="text-center m-2">
            <div *ngIf="email.invalid">

                <div *ngIf="email.errors?.['required']"> Digite o e-mail cadastrado para receber um link de recuperação de senha.</div>
    
                <div *ngIf="emailExists">E-mail já existe.</div> 
    
            </div>
            <mat-form-field appearance="outline" style="min-width: 40%">
                <mat-label>E-mail</mat-label>
                <input matInput placeholder="Digite seu e-mail" type="email" name="email" id="email" [(ngModel)]="user.username" #email="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                    required>
            </mat-form-field>
        </div>

        
        <div class="text-center pb-5">
            <button class="btn btn-primary" style="width: 30%;" (click)="recoverPassword(user.username)">Enviar</button>
        </div>
        <div style="height: 450px;">


        </div>
    </div>
</div>