<div class="container bg-secondary">
    <div class="text-center p-4">
        <img src="/assets/img/logo2.svg" width="40%" alt="">
    </div>
    <div class="text-center">
        <span> Digite o e-mail cadastrado para receber um link de recuperação de senha.</span>
    </div>
    <div class="text-center m-2">
        <mat-form-field appearance="outline" style="min-width: 40%">
            <mat-label>E-mail</mat-label>
            <input matInput placeholder="Digite seu e-mail" type="email">
        </mat-form-field>
    </div>

    <div class="text-center pb-5">
        <button class="btn btn-primary" style="width: 30%;">Enviar</button>
    </div>
    <div style="height: 450px;">


    </div>
</div>