<div class="container bg-secondary">
    <div style="padding-top: 200px;">
        <div class="brand-font text-center mb-5" style="font-size: 150px;">
            Molb
        </div>
        <div class="text-center m-2">
            Informe seu e-mail para que nossos administradores possam realizar a alteração da senha.
            <h4 class="alert alert-danger" *ngIf="hasError()">{{message}}</h4>
            <form name="form" (ngSubmit)="onSubmit(f,modal)" #f="ngForm">
                <div class="text-center">
                    <mat-form-field appearance="outline" style="min-width: 98%;">
                        <mat-label>E-mail</mat-label>
                        <textarea matInput name='message' id='message' [(ngModel)]="form.message" placeholder="Digite a mensagem" #mensagem="ngModel" required></textarea>
                    </mat-form-field>
                </div>
                <div class="text-center">
                <button type="submit" class="lg:mx-0 hover:underline gradient text-white font-bold rounded-full my-6 py-4 px-8 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out" style="width: 50%;" type="submit">Enviar</button>
            </div>
            </form>
            </div>
            
            <ng-template #modal let-modal>
                <div class="modal-header">
                    <h4 class="modal-title" id="modal-basic-title">
                        Solicitação de contato
                    </h4>
                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              
                        <span aria-hidden="true">
                            ×
                        </span>
                    </button>
                </div>
                <div class="modal-body d-flex justify-content-center">
                    <h4>Solicitação enviada com sucesso!</h4>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-danger" (click)="modal.dismiss('Cross click')">
                        Cancelar
                    </button>
                    <button type="button" class="btn btn-success" (click)="modal.close('Save click')">
                        OK
                    </button>
                </div>
            </ng-template>
        </div>
    </div>