<div class="container">
    <div style="padding-top: 200px;">
<h1 class="text-center m-3 active"><strong>Venha fazer parte do Mowb, se torne um vendedor!</strong></h1>
    <div class="img-wrapper">
        <img class="img-responsive" src="/assets/img/happy_sale.jpg" alt="" width="100%"> 
        <div class="img-overlay">
        <button class="btn btn-primary rounded-circle"><mat-icon style="vertical-align: middle;">keyboard_arrow_down</mat-icon></button>
    </div>
    </div>
<div class="row mt-5">    
    <div class="col">
        <h2 class="text-center mt-2"><strong>Entre em contato</strong></h2>
        <div class="m-2 text-center border-bottom pb-5 mx-5 border-primary">Quer entrar em contato? Nós amaríamos ter você como vendedor. A seguir algumas formas que você pode entrar em contato:</div>
    </div>
</div>
<div class="d-flex justify-content-around mt-2 flex-sm-row flex-column">
    <div class="text-center shadow m-2">
        <mat-icon>phone</mat-icon><br>
        <h2>Por telefone</h2>
        <div class="text-center mb-3">Ligue para a central e converse com nosso time para fazer parte do nosso time de vendedores!</div>
        <strong class="active">+55 11 99751-6492</strong>
    </div>
    <div class="text-center m-2">
        <mat-icon>email</mat-icon><br>
        <h2>E-mail</h2>
        <div class="text-center mb-3">Mande um e-mail para nosso time para fazer parte do nosso time de vendedores!</div>
        <strong class="active">carlos.marangoni1@gmail.com</strong>
    </div>

</div>
</div>
</div>