<div class="container">
    <div class="row">
        <div class="col-4 bg-primary mt-4" style="height: 1500px">
            <ul class="list-group list-group-mine mt-5">
                <li class="list-group-item" *ngFor="let category of categories; let i = index" [class.active]="selectedIndex === i" (click)="setIndex(i)">{{category}}</li>
            </ul>
        </div>

        <div class="col-8">
            <div class="bg-primary row mt-4 d-flex justify-content-between">
                <div class="input-group col-md-4 m-2">
                    <input class="form-control py-2" type="search" name="search" [(ngModel)]="filtro">
                    <span class="input-group-append">
                <button class="btn btn-primary" type="button" id="dropdownFilter" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi-funnel-fill dropdown-toggle"></i></button>
                <ul class="dropdown-menu" aria-labelledby="dropdownFilter">
                    <div class="form-check">
                        <li>
                            <input class="form-check-input" type="radio" name="radioFilter" [(ngModel)]="selectedSearch" id="radioUsername" value="userFilter" checked>
                            <label class="dropdown-item form-check-label p-0" for="radioUsername">
                                Usuário                      
                            </label>
                        </li>
                        <li>
                            <input class="form-check-input" type="radio" name="radioFilter" [(ngModel)]="selectedSearch" value="descriptionFilter" id="radioDescription">
                            <label class="dropdown-item form-check-label p-0" for="radioDescription">
                                Descrição
                            </label>
                        </li>
                    </div>
                </ul>
            </span>
                </div>


                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle m-2" type="button" id="dropdownPosts" data-bs-toggle="dropdown" aria-expanded="false">
            
            </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownPosts">
                        <div class="form-check">
                            <li><input class="form-check-input" type="radio" name="radioUsers" id="radioAllUsers" value="allUsers" checked>
                                <label class="dropdown-item form-check-label p-0" for="radioAllUsers">
                            Todos usuários                            
                        </label>
                            </li>
                            <li><input class="form-check-input" type="radio" name="radioUsers" value="followedUsers" id="radioFollowedUsers">
                                <label class="dropdown-item form-check-label p-0" for="radioFollowedUsers">
                            Usuários seguidos
                        </label>
                            </li>
                        </div>
                    </ul>
                </div>

            </div>
            <!-- PAGINAÇÃO -->
            <div class="d-flex justify-content-center my-2">

                <ul class="pagination m-0">
                    <li class="page-item" [ngClass]="{'disabled' : posts.first == true}">
                        <button class="page-link" (click)="onClick(activePage-1)">Anterior</button>
                    </li>
                    <li class="page-item disabled">
                        <span class="page-link">{{activePage + 1 }}</span>
                    </li>
                    <li class="page-item" [ngClass]="{'disabled' : posts.last == true}">
                        <button class="page-link" (click)="onClick(activePage+1)">Próxima</button>
                    </li>
                </ul>
            </div>


            <div class="row">
                <div *ngFor="let post of obterPosts()" class="col-md-4 my-1">
                    <div class="post p-4 bg-secondary rounded col-sm card">
                        <a class="btn btn-primary mb-2" [routerLink]="['/profile/',post.userId]">
                            <span class="text-left"><img class="border border-primary rounded-circle" width="50px"
                [src]='post.profileImage' alt="">{{post.user}}</span></a>

                        <a class="btn" [routerLink]="['/posts/',post.id]">
                            <img *ngIf="post.postImage != ''; else noImage" class="border rounded border-primary border-10" style="max-height: 200px; max-width: 100%;" [src]='post.postImage' alt="">
                            <ng-template #noImage>
                                <img class="border rounded border-primary border-10" style="max-height: 200px;" src='/assets/img/no-image.png' alt="" style="max-height: 200px; max-width: 100%;">
                            </ng-template>
                        </a>
                        <div class="text-center card-body"><b>{{post.title}}</b></div>
                        <button class="btn btn-primary">Comprar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>