<div class="container">
    <div class="post my-3 p-4 bg-secondary rounded">
        <span class="text-left"><img class="border border-primary rounded-circle" width="50px"
                src="/assets/img/muie.jpg" alt="">mari_costura</span>


        <img class="border rounded border-primary border-20" width="100%" src="/assets/img/tshirt.png" alt="">
        <div class="text-center"><b>Camiseta regata fácil de fazer com pouco elátisco molde grátis</b></div>


        <div class="d-flex justify-content-around">
            <div class="btn">
                <span>12
                    <img width="60px" src="/assets/img/like-icon.svg" alt="">
                </span>
            </div>

            <div class="btn">
                <span>0
                    <img width="60px" src="/assets/img/comment-icon.svg" alt="">
                </span>
            </div>
        </div>
        <input placeholder="Escreva um comentário...." />
    </div>

    <!-- DIVISAO DE POST AQUI-->





    <div class="post my-3 p-4 bg-secondary rounded">
        <span class="text-left"><img class="border border-primary rounded-circle" width="50px"
                src="/assets/img/muie.jpg" alt="">mari_costura</span>


        <img class="border rounded border-primary border-20" width="100%" src="/assets/img/tshirt.png" alt="">
        <div class="text-center"><b>Camiseta regata fácil de fazer com pouco elátisco molde grátis</b></div>


        <div class="d-flex justify-content-around">
            <div class="btn">
                <span>12
                    <img width="60px" src="/assets/img/like-icon.svg" alt="">
                </span>
            </div>

            <div class="btn">
                <span>0
                    <img width="60px" src="/assets/img/comment-icon.svg" alt="">
                </span>
            </div>
        </div>
        <input placeholder="Escreva um comentário...." />
    </div>
</div>