<div class="container">
    <div class="border-bottom border-primary pb-5">
        <div class="text-center mt-5 mb-2" style="font-size: xx-large;">{{post.title}}</div>
        <div class="text-center"><img class="border border-primary border-5" width="300px" [src]="post.postImage" alt=""></div>
    </div>
    <div class="text-center py-5 border-bottom border-primary">
        <b style="font-size: large;">{{post.description}}</b><br>
        <div class="mt-2">
            <ng-rating-bar [value]="post.averageStars" [ratingCount]="5" [disabled]=true colorActive="#ec9d95" [styles]="{fontSize: '40px'}"></ng-rating-bar>
        </div>
    </div>
    <div class="mt-5 mx-5 px-5">
        <div class="border border-primary border-10 d-flex justify-content-around my-3 align-items-center" *ngFor="let item of post.items">
            <div class="text-center" style="width: 75%;">{{item.description}}</div><span>{{item.price | currency:'BRL'}}</span>
            <div class="text-right flex-shrink-1"><img src="/assets/img/eye.png" alt=""></div>
        </div>
    </div>
    <div class="m-4 px-5" *ngFor="let comment of post.comments">
        <div class="text-center border border-secondary border-10 rounded">
            <b style="font-size: xx-large;">Comentários</b>
        </div>
        <div class="border border-secondary border-5 d-flex justify-content-around align-items-center rounded">
            <div class="text-center flex-shrink-1 rounded mr-2"><img [src]="comment.profileImage" width="30px" alt="">
            </div>
            <div> {{comment.user}}</div>
            <div class="text-right" style="width: 90%;">
                <div>
                    <ng-rating-bar [value]="comment.stars" [ratingCount]="5" [disabled]=true colorActive="#ec9d95"></ng-rating-bar>
                </div>
            </div>
        </div>
        <div class="border border-secondary text-center mb-3 rounded">{{comment.description}}</div>


    </div>
    <div class="text-center">
        <button class="btn btn-primary btn-lg">Comprar agora</button>
    </div>
</div>