<div class="container">
    <div class="border-bottom border-primary pb-5">
        <div class="text-center my-4 mb-2" style="font-size: xx-large;">{{post.title}}</div>
        <div class="text-center"><img class="border border-primary border-5" width="300px" [src]="post.postImage" alt=""></div>
        <div class="text-center mt-2">
            <ng-rating-bar [value]="post.averageStars" [ratingCount]="5" [disabled]=true colorActive="#ec9d95" [styles]="{fontSize: '40px'}"></ng-rating-bar>
        </div>
    </div>
    <div class="mt-5 mx-5 px-5">
        <div class="border border-primary border-10 d-flex justify-content-around my-3 align-items-center" *ngFor="let item of post.items">
            <div class="text-center" style="width: 75%;">{{item.description}}</div><span>{{item.price | currency:'BRL'}}</span>
            <div class="text-right flex-shrink-1"><img src="/assets/img/eye.png" alt=""></div>
        </div>
    </div>
    <div class="m-4 px-5">
        <div class="text-center border border-secondary border-10 rounded p-2">
            <b style="font-size: x-large;">Opção de Pagamento</b>
        </div>
        <form>
            <div class="border border-5 border-secondary rounded">

                <div class="text-center">
                    <mat-form-field style="width: 300px;">
                        <mat-label>Selecione o Método de Pagamento</mat-label>
                        <mat-select>
                            <mat-option value="option1">Cartão Visa 1234 **** 4023</mat-option>
                            <mat-option value="option2">Cartão Mastercard 1234 **** 4023</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <span>
                        <button class="btn btn-primary text-right ml-2">+</button>
                    </span>
                </div>

            </div>

            <div class="text-center">
                <button class="btn btn-primary text-center m-4" style="width: 50%;" type="submit">Comprar</button>
            </div>
        </form>



    </div>
</div>