<div class="container bg-secondary">
    <div style="padding-top: 400px;">
    <div class="brand-font text-center mb-5" style="font-size: 150px;">
        Molb
    </div>

    <div class="text-center" *ngIf="isLoggedIn; else loggedOut">
        Logado como {{roles}}.
    </div>

    <ng-template #loggedOut>

        <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate method="POST">
            <div class="text-center">
                <div class="text-danger" *ngIf="f.submitted && username.invalid">
                    <div *ngIf="username.errors?.required">E-mail é obrigatório</div>
                </div>
                <div class="text-danger" *ngIf="f.submitted && password.invalid">
                    <div *ngIf="password.errors?.required">Senha é obrigatória</div>
                    <div *ngIf="password.errors?.minlength">Senha deve ter pelo menos 6 caracteres</div>
                </div>
                <mat-form-field appearance="outline" style="min-width: 40%">
                    <mat-label>E-mail</mat-label>
                    <input matInput placeholder="Digite seu e-mail" type="email" name='username' id='username' [(ngModel)]="form.username" #username="ngModel" required>

                </mat-form-field>
            </div>
            <div class="text-center">
                <mat-form-field appearance="fill" style="min-width: 40%">
                    <mat-label>Digite sua senha</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" name='password' id='password' [(ngModel)]="form.password" #password="ngModel" required minlength="4">
                    <div class="btn" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </div>
                </mat-form-field>
            </div>

            <div class="text-center p-3">
                <input class='btn btn-primary' style="width: 30%;" type='submit' name='Login' value='Login'><br>
                <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger">
                    Login falhou: {{errorMessage}}
                </div>
                <a style="font-size: x-small;">Esqueceu a senha? Clique aqui.</a>
            </div>

        </form>
        <div class="text-center" style="height: 20rem;">
            <div>
                <span>Não tem uma conta? </span><span class="btn btn-primary" [routerLink]="['/register']">Criar conta</span>
            </div>

        </div>
    </ng-template>
</div>
</div>