<div class="container bg-secondary">
    <div class="text-center p-4">
        <img src="/assets/img/logo2.svg" width="40%" alt="">
    </div>

    <div class="text-center">
        <mat-form-field appearance="outline" style="min-width: 40%">
            <mat-label>E-mail</mat-label>
            <input matInput placeholder="Digite seu e-mail" type="email">
        </mat-form-field>
    </div>
    <div class="text-center">
        <mat-form-field appearance="fill" style="min-width: 40%">
            <mat-label>Digite sua senha</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
    </div>

    <div class="text-center p-3">
        <button class="btn btn-primary" style="width: 30%;">Login</button><br>
        <a style="font-size: x-small;">Esqueceu a senha? Clique aqui.</a>
    </div>
    <div class="text-center" style="height: 20rem;">
        <div>
            <span>Não tem uma conta? </span><span class="btn btn-primary">Criar conta</span>
        </div>

    </div>
</div>