<nav class="navbar shadow justify-content-between bg-secondary p-0">

    <div class="ml-5">
        <a class="btn" [routerLink]="['/home']">
            <div class="navbar-brand brand-font"> Molsew
            </div>
        </a>
    </div>
    <div class="d-flex justify-content-between" style="width: 60rem;">
        <div class="mr-4">
            <div class="btn btn-primary">Início</div>
            <div class="btn btn-primary" *ngIf="authority === 'admin'">Usuários</div>
        </div>
        <div class="ml-4 d-flex justify-content-between">
            <div class="btn btn-primary"><span class="px-2">Sobre nós</span></div>
            <div class="btn btn-primary"><span class="px-2">Seja um vendedor</span></div>
        </div>
    </div>
    <div class="btn" [routerLink]="['/cart']">
        <mat-icon>shopping_cart</mat-icon>
        <span class="cart-items">2</span>
    </div>
    <div class="mr-5">
        <button *ngIf="info.token;else loggedOut" mat-icon-button [matMenuTriggerFor]="menu">
            <img [src]="info.profilePic" style="width: 100%;border-radius: 50%;" alt="">
            <span class="dropdown-toggle"></span>
            
      </button>
    </div>
    <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="['/profile/',this.info.id]">
          <mat-icon>person</mat-icon>
          <span>Perfil</span>
        </button>
        <button mat-menu-item>
          <mat-icon>settings</mat-icon>
          <span>Configurações</span>
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Logout</span>
        </button>
    </mat-menu>

    <ng-template #loggedOut>
        <div>
            <span>Bem vindo :) </span><br/>
            <a class="" [routerLink]="['/login']">Entre ou cadastre-se</a>
        </div>
    </ng-template>

</nav>