<nav class="navbar shadow justify-content-between bg-secondary">

    <div>
        <a class="btn" [routerLink]="['/home']">
            <div class="navbar-brand brand-font mr-2" style="font-size: 3rem;"> Molsew
            </div>
        </a>

    </div>

    <div class="btn dropdown dropdown-toggle text-center">
        <div *ngIf="info.token; else loggedOut">
            <h5 class="text-primary">Your Information</h5>
            <p>
                <strong>Username:</strong> {{info.username}}<br/>
                <strong>Roles:</strong> {{info.authorities}}<br />
                <strong>Token:</strong> {{info.token}}.
            </p>
            <button class="btn btn-secondary" (click)="logout()">Logout</button>
        </div>

        <ng-template #loggedOut>
            Please login.
        </ng-template>
        <img src="/assets/img/profile.png" width="30px" alt="">
    </div>

</nav>