<nav id="header" class="fixed w-full z-30 top-0 text-white" style="background:white">
      <div class="w-full container mx-auto flex flex-wrap items-center justify-between mt-0 py-2">
        <div class="pl-4 flex items-center">
          <a class="toggleColour text-black no-underline hover:no-underline font-bold text-2xl lg:text-4xl brand-font" href="#">
            Molb
          </a>
        </div>
        <div class="block lg:hidden pr-4">
          <button id="nav-toggle" class="flex items-center p-1 text-pink-800 hover:text-gray-900 focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out">
            <div>
                <button mat-icon-button (click)="onToggleSidenav()">
                    <mat-icon style="color:black">menu</mat-icon>
                </button>
            </div>
          </button>
        </div>
        <div class="w-full flex-grow lg:flex lg:items-center lg:w-auto hidden mt-2 lg:mt-0 lg:bg-transparent text-black p-4 lg:p-0 z-20" id="nav-content" fxHide.xs>
          <ul class="list-reset lg:flex justify-end flex-1 items-center">
            <li class="mr-3">
              <a class="inline-block py-2 px-4 text-black font-bold no-underline" href="#"  [routerLink]="['/home']" routerLinkActive="active">Início</a>
            </li>
            <li class="mr-3">
              <a class="inline-block text-black no-underline hover:text-gray-800 hover:text-underline py-2 px-4" href="#" [routerLink]="['/contact-us']" routerLinkActive="active">Seja um vendedor</a>
            </li>
            <li class="mr-3">
              <a class="inline-block text-black no-underline hover:text-gray-800 hover:text-underline py-2 px-4" href="#" [routerLink]="['/owner']">Sobre nós</a>
            </li>
            <li class="btn mr-3" style="color: black;" [routerLink]="['/cart']">
                <mat-icon>shopping_cart</mat-icon>
                <span class="cart-items">{{qty}}</span>
            </li>
          </ul>
          <div *ngIf="isAdmin(authority)" class="">
            <a [routerLink]="['/admin']" routerLinkActive="active" style="color: black;">Admin <mat-icon
                    style="vertical-align: middle;">assignment_ind</mat-icon></a>
        </div>
        <button *ngIf="info.token;else loggedOut" mat-icon-button [matMenuTriggerFor]="menu">
            <img [src]="info.profilePic" style="width: 100%;border-radius: 50%;" alt="">
            <span class="dropdown-toggle"></span>

        </button>
        </div>
      </div>
      <hr class="border-b border-gray-100 opacity-25 my-0 py-0" />
    </nav>
    
    <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="['/profile/',this.info.id]">
            <mat-icon>person</mat-icon>
            <span>Perfil</span>
        </button>
        <button mat-menu-item *ngIf="isCreator(authority)" [routerLink]="['/users/sales']">
            <mat-icon>attach_money</mat-icon>
            <span>Minhas vendas</span>
        </button>
        <button mat-menu-item *ngIf="isUser(authority)" [routerLink]="['/users/purchases']">
          <mat-icon>shopping_basket</mat-icon>
          <span>Minhas compras</span>
      </button>
        <button mat-menu-item (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
            <span>Logout</span>
        </button>
    </mat-menu>
    <ng-template #loggedOut>
        <div class="welcome-message mx-2">
            <a class="mx-auto lg:mx-0 hover:underline gradient text-white font-bold rounded-full my-6 py-4 px-8 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out" [routerLink]="['/login']">Entre ou cadastre-se!</a>
        </div>
    </ng-template>