<mat-toolbar class="shadow justify-content-between pt-2" style="background: #151515;">
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon style="color:white">menu</mat-icon>
        </button>
    </div>
    <div fxHide.xs>        
        <a [routerLink]="['/home']"><img class="pl-5" height="120px" src="/assets/img/Mowb-white.png" alt=""></a>
    </div>
    <div fxHide.xs>
        <div class="d-flex justify-content-between">
            <div>
                <a [routerLink]="['/home']" routerLinkActive="active">
                    <mat-icon style="vertical-align: middle;">home</mat-icon>Início
                </a>
            </div>
            <div class="mx-4">
                <a [routerLink]="['/contact-us']" routerLinkActive="active">Seja um vendedor! <mat-icon
                        style="vertical-align: middle;">email</mat-icon></a>


            </div>
            <div class="mx-4">
                <a [routerLink]="['/owner']">Sobre nós <mat-icon style="vertical-align: middle;">info</mat-icon></a>


            </div>
            <div class="btn mx-3" style="color: white;" [routerLink]="['/cart']">
                <mat-icon>shopping_cart</mat-icon>
                <span class="cart-items">{{qty}}</span>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-between">
        
        <div *ngIf="isAdmin(authority)" class="mx-4">
            <a [routerLink]="['/admin']" routerLinkActive="active">Admin <mat-icon
                    style="vertical-align: middle;">assignment_ind</mat-icon></a>
        </div>
        <button *ngIf="info.token;else loggedOut" mat-icon-button [matMenuTriggerFor]="menu">
            <img [src]="info.profilePic" style="width: 100%;border-radius: 50%;" alt="">
            <span class="dropdown-toggle"></span>

        </button>

    </div>
    
    <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="['/profile/',this.info.id]">
            <mat-icon>person</mat-icon>
            <span>Perfil</span>
        </button>
        <button mat-menu-item>
            <mat-icon>settings</mat-icon>
            <span>Configurações</span>
        </button>
        <button mat-menu-item (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
            <span>Logout</span>
        </button>
    </mat-menu>
    <ng-template #loggedOut>
        <div class="welcome-message mx-2">
            <a class="" [routerLink]="['/login']">Entre ou cadastre-se!</a>
        </div>
    </ng-template>
</mat-toolbar>