@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');
:root {
    --color-primary: #ec9d95;
    --color-secondary: #FEDBD8;
}

.navbar-brand {
    padding: 0;
    margin: 0;
}

.logo {
    height: 50px;
    padding-right: 15px;
    padding-left: 5px;
}

.navbar-inverse {
    height: 65px;
    padding-top: 5px;
}

html,
body {
    font-family: "Ubuntu", sans-serif;
}

body {
    min-height: 400px;
    margin-bottom: 100px;
    clear: both;
}

.brand-font {
    font-family: 'Italianno', cursive;
}

.list-group-mine .list-group-item {
    background-color: var(--color-secondary);
    border-top: 1px solid white;
    border-left-color: #fff;
    border-right-color: #fff;
}

.list-group-mine .list-group-item:hover {
    background-color: white;
    color: var(--color-primary);
}

.active {
    color: red !important;
    border: #ec9d95;
}

.text-primary {
    color: var(--color-primary) !important;
}

.btn-primary {
    background-color: var(--color-primary) !important;
    border-color: var(--color-secondary) !important;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: var(--color-secondary) !important;
    border-color: var(--color-primary) !important;
    /*set the color you want here*/
}

.btn-secondary {
    background-color: var(--color-secondary) !important;
    border-color: var(--color-secondary) !important;
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary.active,
.open>.dropdown-toggle.btn-secondary {
    color: #fff;
    background-color: var(--color-primary) !important;
    border-color: var(--color-secondary) !important;
    /*set the color you want here*/
}

.bg-primary {
    background-color: var(--color-primary) !important;
}

.border-primary {
    border-color: var(--color-primary) !important;
}

.bg-secondary {
    background-color: var(--color-secondary) !important;
}

.border-secondary {
    border-color: var(--color-secondary) !important;
}

.border-5 {
    border-width: 5px !important;
}

.border-10 {
    border-width: 10px !important;
}

.border-20 {
    border-width: 20px !important;
}

.hover-overlay:hover {
    filter: saturate(2.1);
}

.zoom-hover:hover {
    transform: scale(1.5);
}

.disabled {
    pointer-events: none;
}

.cart-items {
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 50%;
    padding: 4px 10px;
}