<table class="table border border-10 border-secondary">
    <thead>
        <th>#</th>
        <th>Item</th>
        <th>Descrição</th>
        <th>Valor</th>
        <th>Data</th>
        <th>Comprador</th>
    </thead>
    <tbody>
        <tr *ngFor="let sale of sales" class="hover-overlay">
            <td>{{sale.postId}}</td>
            <td>{{sale.item}}</td>
            <td>{{sale.description}}</td>
            <td>{{sale.price  | currency:'BRL'}}</td>
            <td>{{sale.data | date:'medium'}}</td>
            <td>{{sale.buyer}}</td>
        </tr>
    </tbody>
</table>
<div class="alert alert-warning text-center" *ngIf="sales.length === 0">
    <p>Você ainda não realizou nenhuma venda.</p>
</div>