<!--<footer class="footer py-3 fixed-bottom d-flex justify-content-around border shadow" style="background-color: #94949c;">
    <div></div>
    <div class="footer-copyright text-center py-3">© 2021 Copyright:
        <a href="https://github.com/CarlosMarangoni"> Carlos Marangoni</a>
    </div>
    <div class="bi bi-paypal" style="font-size: 30px;">
    </div>
   Copyright

</footer> > -->

<footer class="bg-dark text-white mt-4">
    <div class="container-fluid py-3">
      <div class="row">
        <div class="col-md-3">
          <h5>Mowb</h5></div>
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>
        <div class="col-md-3"> <div class="bi bi-paypal" style="font-size: 30px;">
        </div></div>
      </div>
      <div class="row">
        <div class="col-md-6"><a href="">Termos de condições </a></div>
        <div class="col-md-3"></div>
        <div class="col-md-3 text-right small align-self-end"><a href="https://github.com/CarlosMarangoni" >©2022 Carlos Marangoni</a></div>
      </div>
    </div>
  </footer>